# Remove this line when working with remote npm registry then pnpm install again
# working with local npm registry (verdaccio)
# do not forget to start verdaccio (npx verdaccio)
#@averos:registry=http://localhost:4873
# hoist only what the Angular bundler needs at build time
public-hoist-pattern[]=*@angular/material*
public-hoist-pattern[]=*@angular/cdk*
public-hoist-pattern[]=zone.js
public-hoist-pattern[]=@angular/*